{% load static%}

<a href="{% url "oops" %}"><span class="badge text-body fs-6">perl</span></a>
<a href="{% url "oops" %}"><span class="badge text-danger fs-6">python</span></a>
<a href="{% url "oops" %}"><span class="badge text-body fs-6">TechnoPark</span><br></a>
<a href="{% url "oops" %}"><span class="badge text-danger fs-5">MySQL</span></a>
<a href="{% url "oops" %}"><span class="badge text-success fs-6">django</span><br></a>
<a href="{% url "oops" %}"><span class="badge text-body fs-6">Mail.Ru</span></a>
<a href="{% url "oops" %}"><span class="badge text-body fs-6">Voloshin</span></a>
<a href="{% url "oops" %}"><span class="badge text-warning fs-6">Firefox</span></a>