{% load static%}

<a href="perl.html"><span class="badge text-body fs-6">perl</span></a>
<a href="python.html"><span class="badge text-danger fs-6">python</span></a>
<a href="technopark.html"><span class="badge text-body fs-6">TechnoPark</span><br></a>
<a href="mysql.html"><span class="badge text-danger fs-5">MySQL</span></a>
<a href="django.html"><span class="badge text-success fs-6">django</span><br></a>
<a href="mailru.html"><span class="badge text-body fs-6">Mail.Ru</span></a>
<a href="voloshin.html"><span class="badge text-body fs-6">Voloshin</span></a>
<a href="firefox.html"><span class="badge text-warning fs-6">Firefox</span></a>