{%extends "layouts/base.html"%}
{% load static%}

{% block content %}



    <div class="col-md-8">
            <div class="d-flex gap-3 align-items-center" style="margin-bottom: 10px; max-width: 540px;">
        <h2>New Questions</h2>
        <a href="/hot/">Hot Questions</a>
    </div>
        {% for question in questions%}
            {%include "layouts/question.html"%}
        {% endfor %}

    </div>
        <nav aria-label="Page navigation example" style="margin-bottom: 50px; max-width: 540px;">
            <ul class="pagination justify-content-left text-body">
                <li class="page-item disabled ">

                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">53</a></li>
                <li class="page-item">

                </li>
            </ul>
        </nav>
{% endblock %}